<div>
  <body>
    <img src="../../assets/img/Conexaoum.png" alt="" class="conexao1">
    <img src="../../assets/img/Conexaodois.png" alt="" class="conexao2">
    <div class="container">
      <img routerLink="" src="../../assets/img/logo.png" alt="" class="logologin">
      <div class="login">
        <h1 class="titulo space-around">Pronto! Agora faça o download do nosso arquivo para começar!</h1>
         <button class="button"> <a href="https://we.tl/t-r4Gy95lENF">Download</a></button>
      </div>
    </div>
  </body>
</div>