<div class="login">
  <h1 class="titulo space-around">Faça seu login:</h1>
      <input class="space-around" type="text" placeholder="E-mail: ">
      <input class="space-around" type="password" placeholder="Senha:">

      <!-- <button class="button" (click)="logar()">Login</button> -->
      <button class="button">Login</button>
      
      <a routerLink="" >
        <p style="text-align: center; margin-top: 20px;">Esqueceu sua senha?</p>
      </a>
      <p style="text-align: center;"> 
        <span>Não tem uma conta?</span> 
        <a routerLink="/cadastro"> Cadastre-se</a>
      </p>
</div>


