.container {
  display: flex;
  flex-flow: column;
  padding-left: 140px;
}

.conexao1 {
  width: 200px;
  display: block;
  float: right;
  flex-flow: row;
  display: flex;
}

.conexao2 {
  width: 400px;
  position: absolute;
  top: 77%;
  display: block;
  float: left;
}

.container{
  display: flex;
  flex-direction: column;
  min-height: 80vh;
  justify-content: center;
  align-items: center;
}

.logologin {
  display: flex;
  flex-direction: column;
  height: 60px;
  width: 40px;
  align-self: center;
  cursor: pointer;
}

.link {
  text-align: center;
}